{"swagger":"2.0","info":{"description":null,"version":"1.0.0","title":null,"termsOfService":null,"contact":null,"license":null},"host":"api.worldskills.org","basePath":"/images","tags":[{"name":"Images","description":null,"externalDocs":null},{"name":"Ping","description":null,"externalDocs":null},{"name":"Thumbnails","description":null,"externalDocs":null}],"schemes":["https"],"consumes":null,"produces":null,"security":null,"paths":{"/":{"get":{"tags":["Images"],"summary":"List all images","description":"","operationId":"getImages","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"offset","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":0,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"limit","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":10,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"$ref":"#/definitions/ImageListView","originalRef":"ImageListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"$ref":"#/definitions/ImageListView","originalRef":"ImageListView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"$ref":"#/definitions/ImageListView","originalRef":"ImageListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"$ref":"#/definitions/ImageListView","originalRef":"ImageListView"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"head":null,"post":{"tags":["Images"],"summary":"Upload image","description":"","operationId":"createImage","schemes":null,"consumes":["multipart/form-data"],"produces":["application/json","application/xml"],"parameters":[{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"$ref":"#/definitions/MultipartFormDataInput","originalRef":"MultipartFormDataInput"},"x-examples":null}],"responses":{"201":{"description":"image created","examples":null,"headers":{},"responseSchema":{"$ref":"#/definitions/ImageView","originalRef":"ImageView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"$ref":"#/definitions/ImageView","originalRef":"ImageView"}},"400":{"description":"bad request","examples":null,"headers":null,"responseSchema":{"$ref":"#/definitions/ErrorView","originalRef":"ErrorView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"$ref":"#/definitions/ErrorView","originalRef":"ErrorView"}}},"responsesObject":{"201":{"description":"image created","examples":null,"headers":{},"responseSchema":{"$ref":"#/definitions/ImageView","originalRef":"ImageView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"$ref":"#/definitions/ImageView","originalRef":"ImageView"}},"400":{"description":"bad request","examples":null,"headers":null,"responseSchema":{"$ref":"#/definitions/ErrorView","originalRef":"ErrorView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"$ref":"#/definitions/ErrorView","originalRef":"ErrorView"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/ping":{"get":{"tags":["Ping"],"summary":null,"description":null,"operationId":"ping","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[],"responses":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"$ref":"#/definitions/PingView","originalRef":"PingView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"$ref":"#/definitions/PingView","originalRef":"PingView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"$ref":"#/definitions/PingView","originalRef":"PingView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"$ref":"#/definitions/PingView","originalRef":"PingView"}}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/thumbnails":{"get":{"tags":["Thumbnails"],"summary":null,"description":null,"operationId":"getThumbnails","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"offset","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":0,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"limit","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":10,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"$ref":"#/definitions/ThumbnailListView","originalRef":"ThumbnailListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"$ref":"#/definitions/ThumbnailListView","originalRef":"ThumbnailListView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"$ref":"#/definitions/ThumbnailListView","originalRef":"ThumbnailListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"$ref":"#/definitions/ThumbnailListView","originalRef":"ThumbnailListView"}}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":{"tags":["Thumbnails"],"summary":null,"description":null,"operationId":"createThumbnail","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"$ref":"#/definitions/ThumbnailView","originalRef":"ThumbnailView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/thumbnails/{id}":{"get":{"tags":["Thumbnails"],"summary":null,"description":null,"operationId":"getThumbnail","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":"\\d+","maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"$ref":"#/definitions/ThumbnailView","originalRef":"ThumbnailView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"$ref":"#/definitions/ThumbnailView","originalRef":"ThumbnailView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"$ref":"#/definitions/ThumbnailView","originalRef":"ThumbnailView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"$ref":"#/definitions/ThumbnailView","originalRef":"ThumbnailView"}}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":{"tags":["Thumbnails"],"summary":null,"description":null,"operationId":"updateThumbnail","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":"\\d+","maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"$ref":"#/definitions/ThumbnailView","originalRef":"ThumbnailView"},"x-examples":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"$ref":"#/definitions/View","originalRef":"View"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"$ref":"#/definitions/View","originalRef":"View"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"$ref":"#/definitions/View","originalRef":"View"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"$ref":"#/definitions/View","originalRef":"View"}}},"security":null,"externalDocs":null,"deprecated":null},"delete":null,"options":null,"patch":null,"parameters":null},"/{id}":{"get":{"tags":["Images"],"summary":"Fetch an image","description":"","operationId":"getImage","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":"\\d+","maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"$ref":"#/definitions/ImageView","originalRef":"ImageView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"$ref":"#/definitions/ImageView","originalRef":"ImageView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"$ref":"#/definitions/ImageView","originalRef":"ImageView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"$ref":"#/definitions/ImageView","originalRef":"ImageView"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":{"tags":["Images"],"summary":"Delete an image","description":"","operationId":"deleteImage","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":"\\d+","maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"options":null,"patch":null,"parameters":null},"/{id}/{thumbnail_hash}":{"get":{"tags":["Images"],"summary":null,"description":null,"operationId":"getImageMetadata","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":"\\d+","maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"thumbnail_hash","in":"path","description":null,"required":true,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"$ref":"#/definitions/ImageView","originalRef":"ImageView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"$ref":"#/definitions/ImageView","originalRef":"ImageView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"$ref":"#/definitions/ImageView","originalRef":"ImageView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"$ref":"#/definitions/ImageView","originalRef":"ImageView"}}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/{id}/{thumbnail_hash}/base64":{"get":{"tags":["Images"],"summary":null,"description":null,"operationId":"getImageBase64","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["text/plain","application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":"\\d+","maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"thumbnail_hash","in":"path","description":null,"required":true,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/{id}/{thumbnail_hash}/clone":{"get":null,"head":null,"post":{"tags":["Images"],"summary":"Clone an image","description":"","operationId":"cloneImage","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":"\\d+","maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"thumbnail_hash","in":"path","description":null,"required":true,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"$ref":"#/definitions/ImageCloneRequestView","originalRef":"ImageCloneRequestView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null}},"securityDefinitions":null,"definitions":{"ErrorView":{"type":"object","required":null,"discriminator":null,"properties":{"devMsg":{"type":"string","format":null,"example":null,"xml":{"name":"dev_msg","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"errorCode":{"type":"string","format":null,"example":null,"xml":{"name":"code","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"errors":{"type":"array","format":null,"example":null,"xml":{"name":null,"namespace":null,"prefix":null,"attribute":null,"wrapped":true},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"maxItems":null,"minItems":null},"userMsg":{"type":"string","format":null,"example":null,"xml":{"name":"user_msg","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":{"name":"error","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"ImageCloneRequestView":{"type":"object","required":null,"discriminator":null,"properties":{"cropHeight":{"type":"integer","format":"int32","example":null,"xml":{"name":"crop_height","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"cropWidth":{"type":"integer","format":"int32","example":null,"xml":{"name":"crop_width","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"cropX":{"type":"integer","format":"int32","example":null,"xml":{"name":"crop_x","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"cropY":{"type":"integer","format":"int32","example":null,"xml":{"name":"crop_y","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"rotation":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":["ccw90","ccw180","ccw270","mirror_horizontal","mirror_horizontal_ccw270","mirror_vertical","mirror_horizontal_ccw90"],"default":null}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"ImageListView":{"type":"object","required":null,"discriminator":null,"properties":{"images":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"$ref":"#/definitions/ImageView","originalRef":"ImageView"},"maxItems":null,"minItems":null},"links":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"$ref":"#/definitions/LinkView","originalRef":"LinkView"},"maxItems":null,"minItems":null},"totalCount":{"type":"integer","format":"int64","example":null,"xml":{"name":"total_count","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":{"name":"images","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"ImageView":{"type":"object","required":null,"discriminator":null,"properties":{"cropHeight":{"type":"integer","format":"int32","example":null,"xml":{"name":"crop_height","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"cropWidth":{"type":"integer","format":"int32","example":null,"xml":{"name":"crop_width","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"cropX":{"type":"integer","format":"int32","example":null,"xml":{"name":"crop_x","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"cropY":{"type":"integer","format":"int32","example":null,"xml":{"name":"crop_y","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"filename":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"height":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"id":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"links":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"$ref":"#/definitions/LinkView","originalRef":"LinkView"},"maxItems":null,"minItems":null},"rotation":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":["ccw90","ccw180","ccw270","mirror_horizontal","mirror_horizontal_ccw270","mirror_vertical","mirror_horizontal_ccw90"],"default":null},"size":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"thumbnail":{"type":"string","format":"uri","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"thumbnailHash":{"type":"string","format":null,"example":null,"xml":{"name":"thumbnail_hash","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"type":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"width":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":{"name":"image","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"InputPart":{"type":"object","required":null,"discriminator":null,"properties":{"bodyAsString":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"contentTypeFromMessage":{"type":"boolean","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"enum":null,"default":null},"headers":{"type":"object","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minProperties":null,"maxProperties":null,"additionalProperties":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"maxItems":null,"minItems":null}},"mediaType":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"$ref":"#/definitions/MediaType","originalRef":"MediaType"}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"LinkView":{"type":"object","required":null,"discriminator":null,"properties":{"contentType":{"type":"string","format":null,"example":null,"xml":{"name":"content_type","namespace":null,"prefix":null,"attribute":true,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"description":{"type":"string","format":null,"example":null,"xml":{"name":null,"namespace":null,"prefix":null,"attribute":true,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"href":{"type":"string","format":null,"example":null,"xml":{"name":null,"namespace":null,"prefix":null,"attribute":true,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"rel":{"type":"string","format":null,"example":null,"xml":{"name":null,"namespace":null,"prefix":null,"attribute":true,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":{"name":"link","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"MediaType":{"type":"object","required":null,"discriminator":null,"properties":{"parameters":{"type":"object","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minProperties":null,"maxProperties":null,"additionalProperties":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null}},"subtype":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"type":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"wildcardSubtype":{"type":"boolean","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"enum":null,"default":null},"wildcardType":{"type":"boolean","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"MultipartFormDataInput":{"type":"object","required":null,"discriminator":null,"properties":{"formData":{"type":"object","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minProperties":null,"maxProperties":null,"additionalProperties":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"$ref":"#/definitions/InputPart","originalRef":"InputPart"}},"formDataMap":{"type":"object","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minProperties":null,"maxProperties":null,"additionalProperties":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"$ref":"#/definitions/InputPart","originalRef":"InputPart"},"maxItems":null,"minItems":null}},"parts":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"$ref":"#/definitions/InputPart","originalRef":"InputPart"},"maxItems":null,"minItems":null},"preamble":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"PingView":{"type":"object","required":null,"discriminator":null,"properties":{"pong":{"type":"boolean","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":{"name":"ping","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"ThumbnailListView":{"type":"object","required":null,"discriminator":null,"properties":{"links":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"$ref":"#/definitions/LinkView","originalRef":"LinkView"},"maxItems":null,"minItems":null},"thumbnails":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"$ref":"#/definitions/ThumbnailView","originalRef":"ThumbnailView"},"maxItems":null,"minItems":null},"totalCount":{"type":"integer","format":"int64","example":null,"xml":{"name":"total_count","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":{"name":"thumbnails","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"ThumbnailView":{"type":"object","required":["gravity","label","zoom"],"discriminator":null,"properties":{"crop":{"type":"boolean","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"enum":null,"default":null},"gravity":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":["center"],"default":null},"height":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"id":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"label":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":1,"maxLength":191,"pattern":null,"enum":null,"default":null},"links":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"$ref":"#/definitions/LinkView","originalRef":"LinkView"},"maxItems":null,"minItems":null},"quality":{"type":"number","format":"float","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"width":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"zoom":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":["fill","crop"],"default":null}},"externalDocs":null,"title":null,"xml":{"name":"thumbnail","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"View":{"type":"object","required":null,"discriminator":null,"properties":{"links":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"$ref":"#/definitions/LinkView","originalRef":"LinkView"},"maxItems":null,"minItems":null}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null}},"parameters":null,"responses":null,"externalDocs":null}