{"swagger":"2.0","info":{"description":null,"version":"1.0.0","title":null,"termsOfService":null,"contact":null,"license":null},"host":"api.worldskills.org","basePath":"/org","tags":[{"name":"Members","description":null,"externalDocs":null},{"name":"sf","description":null,"externalDocs":null}],"schemes":["https"],"consumes":null,"produces":null,"security":null,"paths":{"/members":{"get":{"tags":["Members"],"summary":"Get Members","description":"","operationId":"getMemberList","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"member_of","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"name","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"sort","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"editable","in":"query","description":null,"required":false,"type":"boolean","items":null,"collectionFormat":null,"default":false,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"offset","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":0,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"limit","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":15,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"include_membership_history","in":"query","description":null,"required":false,"type":"boolean","items":null,"collectionFormat":null,"default":false,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"include_translations","in":"query","description":null,"required":false,"type":"boolean","items":null,"collectionFormat":null,"default":false,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":{"tags":["Members"],"summary":null,"description":null,"operationId":"createMember","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"MemberCreateView","$ref":"#/definitions/MemberCreateView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/members/by_code/{code}":{"get":{"tags":["Members"],"summary":null,"description":null,"operationId":"getMemberWithCode","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"code","in":"path","description":null,"required":true,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"include_membership_history","in":"query","description":null,"required":false,"type":"boolean","items":null,"collectionFormat":null,"default":false,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"include_translations","in":"query","description":null,"required":false,"type":"boolean","items":null,"collectionFormat":null,"default":false,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/members/by_entity/{id}":{"get":{"tags":["Members"],"summary":null,"description":null,"operationId":"getMemberWithEntity","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"include_membership_history","in":"query","description":null,"required":false,"type":"boolean","items":null,"collectionFormat":null,"default":false,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"include_translations","in":"query","description":null,"required":false,"type":"boolean","items":null,"collectionFormat":null,"default":false,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/members/export":{"get":{"tags":["Members"],"summary":null,"description":null,"operationId":"exportMemberDetails","schemes":null,"consumes":null,"produces":["application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","application/json","application/xml"],"parameters":[{"name":"member_of","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":1,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"sort","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":"1058","maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"name","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/members/restore/{id}":{"get":null,"head":null,"post":null,"put":{"tags":["Members"],"summary":null,"description":null,"operationId":"restoreMember","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"delete":null,"options":null,"patch":null,"parameters":null},"/members/{id}":{"get":{"tags":["Members"],"summary":null,"description":null,"operationId":"getMember","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"include_membership_history","in":"query","description":null,"required":false,"type":"boolean","items":null,"collectionFormat":null,"default":false,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"include_translations","in":"query","description":null,"required":false,"type":"boolean","items":null,"collectionFormat":null,"default":false,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":{"tags":["Members"],"summary":null,"description":null,"operationId":"updateMember","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"MemberView","$ref":"#/definitions/MemberView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"delete":{"tags":["Members"],"summary":null,"description":null,"operationId":"removeMember","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"hard","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":0,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"options":null,"patch":null,"parameters":null},"/members/{id}/addresses":{"get":{"tags":["Members"],"summary":null,"description":null,"operationId":"getAddresses","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":{"tags":["Members"],"summary":null,"description":null,"operationId":"addAddress","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"AddressCreateView","$ref":"#/definitions/AddressCreateView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/members/{id}/addresses/{addressId}":{"get":null,"head":null,"post":null,"put":{"tags":["Members"],"summary":null,"description":null,"operationId":"updateAddress","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"addressId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"AddressCreateView","$ref":"#/definitions/AddressCreateView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"delete":{"tags":["Members"],"summary":null,"description":null,"operationId":"deleteAddress","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"addressId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"options":null,"patch":null,"parameters":null},"/members/{id}/contacts":{"get":{"tags":["Members"],"summary":null,"description":null,"operationId":"getMemberContacts","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":{"tags":["Members"],"summary":null,"description":null,"operationId":"addMemberContact","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"MemberContactCreateView","$ref":"#/definitions/MemberContactCreateView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/members/{id}/contacts/{contactId}":{"get":null,"head":null,"post":null,"put":null,"delete":{"tags":["Members"],"summary":null,"description":null,"operationId":"removeMemberContact","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"contactId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"options":null,"patch":null,"parameters":null},"/members/{id}/flag":{"get":null,"head":null,"post":null,"put":null,"delete":{"tags":["Members"],"summary":null,"description":null,"operationId":"removeMemberFlag","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"options":null,"patch":null,"parameters":null},"/members/{id}/international":{"get":null,"head":null,"post":null,"put":{"tags":["Members"],"summary":null,"description":null,"operationId":"setInternational","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"MemberSetInternationalView","$ref":"#/definitions/MemberSetInternationalView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"delete":null,"options":null,"patch":null,"parameters":null},"/members/{id}/memberships":{"get":{"tags":["Members"],"summary":null,"description":null,"operationId":"getMemberships","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"include_membership_history","in":"query","description":null,"required":false,"type":"boolean","items":null,"collectionFormat":null,"default":false,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":{"tags":["Members"],"summary":null,"description":null,"operationId":"addMember","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"MembershipCreateView","$ref":"#/definitions/MembershipCreateView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/members/{id}/memberships/{membershipId}":{"get":null,"head":null,"post":null,"put":{"tags":["Members"],"summary":null,"description":null,"operationId":"updateMemberStatus","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"membershipId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"MembershipCreateView","$ref":"#/definitions/MembershipCreateView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"delete":null,"options":null,"patch":null,"parameters":null},"/members/{id}/memberships/{membership_id}":{"get":null,"head":null,"post":null,"put":null,"delete":{"tags":["Members"],"summary":null,"description":null,"operationId":"removeMembership","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"membership_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"end_year","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"end_month","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"end_day","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"hard_delete","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"options":null,"patch":null,"parameters":null},"/members/{id}/organization":{"get":null,"head":null,"post":null,"put":{"tags":["Members"],"summary":null,"description":null,"operationId":"setMemberOrganization","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"MemberOrgChangeView","$ref":"#/definitions/MemberOrgChangeView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"delete":null,"options":null,"patch":null,"parameters":null},"/members/{id}/phones":{"get":{"tags":["Members"],"summary":null,"description":null,"operationId":"getPhones","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":{"tags":["Members"],"summary":null,"description":null,"operationId":"addPhone","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"PhoneCreateView","$ref":"#/definitions/PhoneCreateView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/members/{id}/phones/{phoneId}":{"get":null,"head":null,"post":null,"put":{"tags":["Members"],"summary":null,"description":null,"operationId":"updatePhone","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"phoneId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"PhoneCreateView","$ref":"#/definitions/PhoneCreateView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"delete":{"tags":["Members"],"summary":null,"description":null,"operationId":"deletePhone","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"phoneId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"options":null,"patch":null,"parameters":null},"/members/{id}/reminder":{"get":null,"head":null,"post":{"tags":["Members"],"summary":null,"description":null,"operationId":"sendReminder","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/members/{id}/social_networks":{"get":{"tags":["Members"],"summary":null,"description":null,"operationId":"getSocialNetworks","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":{"tags":["Members"],"summary":null,"description":null,"operationId":"addSocialNetwork","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"MemberSocialNetworkCreateView","$ref":"#/definitions/MemberSocialNetworkCreateView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/members/{id}/social_networks/{socialNetworkId}":{"get":null,"head":null,"post":null,"put":{"tags":["Members"],"summary":null,"description":null,"operationId":"updateSocialNetwork","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"socialNetworkId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"MemberSocialNetworkCreateView","$ref":"#/definitions/MemberSocialNetworkCreateView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"delete":{"tags":["Members"],"summary":null,"description":null,"operationId":"deleteSocialNetwork","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"socialNetworkId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"options":null,"patch":null,"parameters":null},"/members/{id}/websites":{"get":{"tags":["Members"],"summary":null,"description":null,"operationId":"getWebsites","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":{"tags":["Members"],"summary":null,"description":null,"operationId":"addWebsite","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"WebsiteView","$ref":"#/definitions/WebsiteView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/members/{id}/websites/{websiteId}":{"get":null,"head":null,"post":null,"put":{"tags":["Members"],"summary":null,"description":null,"operationId":"updateWebsite","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"websiteId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"WebsiteView","$ref":"#/definitions/WebsiteView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"delete":{"tags":["Members"],"summary":null,"description":null,"operationId":"deleteWebsite","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"websiteId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"options":null,"patch":null,"parameters":null},"/sf":{"get":{"tags":["sf"],"summary":null,"description":null,"operationId":"getSummary","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/sf/auth":{"get":null,"head":null,"post":{"tags":["sf"],"summary":null,"description":null,"operationId":"testAuth","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/sf/integrations":{"get":{"tags":["sf"],"summary":null,"description":null,"operationId":"getIntegrations","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/sf/integrations/{id}/disable":{"get":null,"head":null,"post":{"tags":["sf"],"summary":null,"description":null,"operationId":"disableIntegration","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/sf/integrations/{id}/enable":{"get":null,"head":null,"post":{"tags":["sf"],"summary":null,"description":null,"operationId":"enableIntegration","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/sf/logs":{"get":{"tags":["sf"],"summary":null,"description":null,"operationId":"getLogs","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"page","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":1,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"size","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":15,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"source","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"status","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"fromDate","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"toDate","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/sf/{id}":{"get":null,"head":null,"post":{"tags":["sf"],"summary":null,"description":null,"operationId":"processSync","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null}},"securityDefinitions":null,"definitions":{"AddressCreateView":{"type":"object","required":null,"discriminator":null,"properties":{"attention":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"city":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"country":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"line1":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"line2":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"line3":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"line4":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"type":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":["GENERAL","INVOICE"],"default":null},"zipCode":{"type":"string","format":null,"example":null,"xml":{"name":"zip_code","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"AddressView":{"type":"object","required":null,"discriminator":null,"properties":{"attention":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"city":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"country":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"CountryView","$ref":"#/definitions/CountryView"},"id":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"line1":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"line2":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"line3":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"line4":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"type":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":["GENERAL","INVOICE"],"default":null},"zipCode":{"type":"string","format":null,"example":null,"xml":{"name":"zip_code","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"CountryCodeView":{"type":"object","required":null,"discriminator":null,"properties":{"code":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"id":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"name":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"I18nStringView","$ref":"#/definitions/I18nStringView"},"prefix":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"CountryView":{"type":"object","required":null,"discriminator":null,"properties":{"code":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"id":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"member":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"MemView","$ref":"#/definitions/MemView"},"name":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"I18nStringView","$ref":"#/definitions/I18nStringView"},"phonePrefix":{"type":"string","format":null,"example":null,"xml":{"name":"phone_prefix","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"I18nStringView":{"type":"object","required":["langCode","text"],"discriminator":null,"properties":{"langCode":{"type":"string","format":null,"example":null,"xml":{"name":"lang_code","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"text":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"translations":{"type":"object","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minProperties":null,"maxProperties":null,"additionalProperties":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null}}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"ImageView":{"type":"object","required":null,"discriminator":null,"properties":{"height":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"id":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"imageId":{"type":"integer","format":"int32","example":null,"xml":{"name":"image_id","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"links":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"LinkView","$ref":"#/definitions/LinkView"},"maxItems":null,"minItems":null},"thumbnail":{"type":"string","format":"uri","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"thumbnailHash":{"type":"string","format":null,"example":null,"xml":{"name":"thumbnail_hash","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"width":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"LinkView":{"type":"object","required":null,"discriminator":null,"properties":{"contentType":{"type":"string","format":null,"example":null,"xml":{"name":"content_type","namespace":null,"prefix":null,"attribute":true,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"description":{"type":"string","format":null,"example":null,"xml":{"name":null,"namespace":null,"prefix":null,"attribute":true,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"href":{"type":"string","format":null,"example":null,"xml":{"name":null,"namespace":null,"prefix":null,"attribute":true,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"rel":{"type":"string","format":null,"example":null,"xml":{"name":null,"namespace":null,"prefix":null,"attribute":true,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":{"name":"link","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"MemView":{"type":"object","required":null,"discriminator":null,"properties":{"code":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"id":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"name":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"I18nStringView","$ref":"#/definitions/I18nStringView"}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"MemberContactCreateView":{"type":"object","required":null,"discriminator":null,"properties":{"contact":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"email":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"firstName":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"lastName":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"type":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":["GENERAL","FINANCE"],"default":null}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"MemberContactView":{"type":"object","required":null,"discriminator":null,"properties":{"email":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"firstName":{"type":"string","format":null,"example":null,"xml":{"name":"first_name","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"id":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"lastName":{"type":"string","format":null,"example":null,"xml":{"name":"last_name","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"personId":{"type":"integer","format":"int32","example":null,"xml":{"name":"person_id","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"type":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":["GENERAL","FINANCE"],"default":null}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"MemberCreateView":{"type":"object","required":null,"discriminator":null,"properties":{"code":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"flag":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"ImageView","$ref":"#/definitions/ImageView"},"memberOf":{"format":null,"example":null,"xml":{"name":"member_of","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"MembershipCreateView","$ref":"#/definitions/MembershipCreateView"},"name":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"I18nStringView","$ref":"#/definitions/I18nStringView"},"name1058":{"format":null,"example":null,"xml":{"name":"name_1058","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"I18nStringView","$ref":"#/definitions/I18nStringView"},"noOrg":{"type":"boolean","format":null,"example":null,"xml":{"name":"no_org","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"enum":null,"default":null},"organization":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"MemberOrgChangeView":{"type":"object","required":null,"discriminator":null,"properties":{"id":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"MemberSetInternationalView":{"type":"object","required":null,"discriminator":null,"properties":{"international":{"type":"boolean","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"MemberSocialNetworkCreateView":{"type":"object","required":null,"discriminator":null,"properties":{"socialNetwork":{"type":"integer","format":"int32","example":null,"xml":{"name":"social_network","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"socialNetworkIdentifier":{"type":"string","format":null,"example":null,"xml":{"name":"social_network_identifier","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"MemberSocialNetworkView":{"type":"object","required":null,"discriminator":null,"properties":{"id":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"socialNetwork":{"format":null,"example":null,"xml":{"name":"social_network","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"SocialNetworkView","$ref":"#/definitions/SocialNetworkView"},"socialNetworkIdentifier":{"type":"string","format":null,"example":null,"xml":{"name":"social_network_identifier","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"MemberView":{"type":"object","required":null,"discriminator":null,"properties":{"addresses":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"AddressView","$ref":"#/definitions/AddressView"},"maxItems":null,"minItems":null},"code":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"contacts":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":true,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"MemberContactView","$ref":"#/definitions/MemberContactView"},"maxItems":null,"minItems":null},"flag":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"ImageView","$ref":"#/definitions/ImageView"},"id":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"links":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"LinkView","$ref":"#/definitions/LinkView"},"maxItems":null,"minItems":null},"memberViews":{"type":"array","format":null,"example":null,"xml":{"name":"member_of","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":{"name":"member_of","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"MembershipView","$ref":"#/definitions/MembershipView"},"maxItems":null,"minItems":null},"name":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"I18nStringView","$ref":"#/definitions/I18nStringView"},"name1058":{"format":null,"example":null,"xml":{"name":"name_1058","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"I18nStringView","$ref":"#/definitions/I18nStringView"},"org":{"format":null,"example":null,"xml":{"name":"organization","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"OrgView","$ref":"#/definitions/OrgView"},"orgHistory":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"OrgView","$ref":"#/definitions/OrgView"},"maxItems":null,"minItems":null},"phones":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PhoneView","$ref":"#/definitions/PhoneView"},"maxItems":null,"minItems":null},"socialNetworks":{"type":"array","format":null,"example":null,"xml":{"name":"social_networks","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":{"name":"social_networks","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"MemberSocialNetworkView","$ref":"#/definitions/MemberSocialNetworkView"},"maxItems":null,"minItems":null},"websites":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"WebsiteView","$ref":"#/definitions/WebsiteView"},"maxItems":null,"minItems":null},"wsEntity":{"format":null,"example":null,"xml":{"name":"ws_entity","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"WSEntityView","$ref":"#/definitions/WSEntityView"}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"MembershipCreateView":{"type":"object","required":null,"discriminator":null,"properties":{"end":{"type":"string","format":"date-time","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"enum":null},"notes":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"parentId":{"type":"integer","format":"int32","example":null,"xml":{"name":"id","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"status":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"yearJoined":{"type":"integer","format":"int32","example":null,"xml":{"name":"year_joined","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"MembershipView":{"type":"object","required":null,"discriminator":null,"properties":{"created":{"type":"string","format":"date-time","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"enum":null},"end":{"type":"string","format":"date-time","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"enum":null},"membershipId":{"type":"integer","format":"int32","example":null,"xml":{"name":"membership_id","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"name":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"I18nStringView","$ref":"#/definitions/I18nStringView"},"notes":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"parentId":{"type":"integer","format":"int32","example":null,"xml":{"name":"id","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"status":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"updated":{"type":"string","format":"date-time","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"enum":null},"wsEntity":{"format":null,"example":null,"xml":{"name":"ws_entity","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"WSEntitySummaryView","$ref":"#/definitions/WSEntitySummaryView"},"yearJoined":{"type":"integer","format":"int32","example":null,"xml":{"name":"year_joined","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"OrgRelationView":{"type":"object","required":null,"discriminator":null,"properties":{"end":{"type":"string","format":"date-time","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"enum":null},"entity":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"WSEntityView","$ref":"#/definitions/WSEntityView"},"id":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"organizationId":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"organizationName":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"since":{"type":"string","format":"date-time","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"enum":null},"type":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":["CHILD","GLOBAL_PARTNER","HOST","OBSERVER","SPONSOR","SUPPORTER","SUPPLIER","MEMBER","MEMBER_PARTNER","NGO_PARTNER","PARENT","POTENTIAL_MEMBER"],"default":null}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"OrgView":{"type":"object","required":null,"discriminator":null,"properties":{"addresses":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"AddressView","$ref":"#/definitions/AddressView"},"maxItems":null,"minItems":null},"country":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"CountryView","$ref":"#/definitions/CountryView"},"description":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"I18nStringView","$ref":"#/definitions/I
[...]
