{"swagger":"2.0","info":{"description":null,"version":"1.0.0","title":null,"termsOfService":null,"contact":null,"license":null},"host":"api.worldskills.org","basePath":"/results","tags":[{"name":"Results","description":null,"externalDocs":null}],"schemes":["https"],"consumes":null,"produces":null,"security":null,"paths":{"/":{"get":{"tags":["Results"],"summary":"Get results","description":"","operationId":"getResults","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"offset","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":0,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"limit","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":10,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"sort","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":"event_desc","maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"event","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"skill","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"skill_base_id","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"member","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"medal","in":"query","description":null,"required":false,"type":"array","items":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"collectionFormat":"multi","default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"best_of_nation","in":"query","description":null,"required":false,"type":"boolean","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"albert_vidal_award","in":"query","description":null,"required":false,"type":"boolean","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"excluded","in":"query","description":null,"required":false,"type":"boolean","items":null,"collectionFormat":null,"default":false,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"ResultListView","$ref":"#/definitions/ResultListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"ResultListView","$ref":"#/definitions/ResultListView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"ResultListView","$ref":"#/definitions/ResultListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"ResultListView","$ref":"#/definitions/ResultListView"}}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/events/{eventId}":{"get":{"tags":["Results"],"summary":"Get event results","description":"","operationId":"getEventResults","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"skill","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"skill_base_id","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"member","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"medal","in":"query","description":null,"required":false,"type":"array","items":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"collectionFormat":"multi","default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"published","in":"query","description":null,"required":false,"type":"boolean","items":null,"collectionFormat":null,"default":true,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"best_of_nation","in":"query","description":null,"required":false,"type":"boolean","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"albert_vidal_award","in":"query","description":null,"required":false,"type":"boolean","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"excluded","in":"query","description":null,"required":false,"type":"boolean","items":null,"collectionFormat":null,"default":false,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"ResultListView","$ref":"#/definitions/ResultListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"ResultListView","$ref":"#/definitions/ResultListView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"ResultListView","$ref":"#/definitions/ResultListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"ResultListView","$ref":"#/definitions/ResultListView"}}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null}},"securityDefinitions":null,"definitions":{"CompetitorView":{"type":"object","required":null,"discriminator":null,"properties":{"firstName":{"type":"string","format":null,"example":"John","xml":{"name":"first_name","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":1,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"image":{"format":null,"example":null,"xml":null,"position":4,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"ImageView","$ref":"#/definitions/ImageView"},"lastName":{"type":"string","format":null,"example":"Doe","xml":{"name":"last_name","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":2,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"personId":{"type":"integer","format":"int32","example":123,"xml":{"name":"person_id","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":3,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"publicDisplayFullName":{"type":"string","format":null,"example":"JOHN DOE","xml":{"name":"public_display_full_name","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":5,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":{"name":"competitor","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"EventView":{"type":"object","required":null,"discriminator":null,"properties":{"code":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"endDate":{"type":"string","format":"date","example":null,"xml":{"name":"end_date","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"enum":null},"id":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"links":{"type":"array","format":null,"example":null,"xml":null,"position":99,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"LinkView","$ref":"#/definitions/LinkView"},"maxItems":null,"minItems":null},"name":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"startDate":{"type":"string","format":"date","example":null,"xml":{"name":"start_date","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"enum":null},"wsEntity":{"format":null,"example":null,"xml":{"name":"ws_entity","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"WsEntityView","$ref":"#/definitions/WsEntityView"}},"externalDocs":null,"title":null,"xml":{"name":"event","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"I18nStringView":{"type":"object","required":["langCode","text"],"discriminator":null,"properties":{"langCode":{"type":"string","format":null,"example":null,"xml":{"name":"lang_code","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"text":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"translations":{"type":"object","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minProperties":null,"maxProperties":null,"additionalProperties":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null}}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"ImageView":{"type":"object","required":null,"discriminator":null,"properties":{"id":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"links":{"type":"array","format":null,"example":null,"xml":null,"position":99,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"LinkView","$ref":"#/definitions/LinkView"},"maxItems":null,"minItems":null},"thumbnail":{"type":"string","format":"uri","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"thumbnailHash":{"type":"string","format":null,"example":null,"xml":{"name":"thumbnail_hash","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":{"name":"image","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"LinkView":{"type":"object","required":null,"discriminator":null,"properties":{"contentType":{"type":"string","format":null,"example":null,"xml":{"name":"content_type","namespace":null,"prefix":null,"attribute":true,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"description":{"type":"string","format":null,"example":null,"xml":{"name":null,"namespace":null,"prefix":null,"attribute":true,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"href":{"type":"string","format":null,"example":null,"xml":{"name":null,"namespace":null,"prefix":null,"attribute":true,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"rel":{"type":"string","format":null,"example":null,"xml":{"name":null,"namespace":null,"prefix":null,"attribute":true,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":{"name":"link","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"MedalView":{"type":"object","required":null,"discriminator":null,"properties":{"code":{"type":"string","format":null,"example":"GOLD","xml":null,"position":1,"description":"The identifier of the medal","title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"name":{"format":null,"example":"{\"lang_code\":\"en\",\"text\":\"Gold\"}","xml":null,"position":2,"description":"The name of the medal","title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"I18nStringView","$ref":"#/definitions/I18nStringView"}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"MemberView":{"type":"object","required":null,"discriminator":null,"properties":{"code":{"type":"string","format":null,"example":"AQ","xml":null,"position":4,"description":"The code of the member","title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"flag":{"format":null,"example":"{\"id\": 123,\"thumbnail_hash\": \"13663047-a57f-4f18-b4c5-3ed8052742c3\",\"thumbnail\": \"https://images.worldskillsusercontent.org/ws13/ws66/11739/ws13663047-a57f-4f18-b4c5-3ed8052742c3\"}","xml":null,"position":5,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"ImageView","$ref":"#/definitions/ImageView"},"id":{"type":"integer","format":"int32","example":123,"xml":null,"position":1,"description":"unique numeric identifier","title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"links":{"type":"array","format":null,"example":null,"xml":null,"position":99,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"LinkView","$ref":"#/definitions/LinkView"},"maxItems":null,"minItems":null},"name":{"format":null,"example":"{\"lang_code\":\"en\",\"text\":\"Antarctica\"}","xml":null,"position":2,"description":"The name of the member","title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"I18nStringView","$ref":"#/definitions/I18nStringView"},"name1058":{"format":null,"example":"{\"lang_code\":\"en\",\"text\":\"Antarctica\"}","xml":{"name":"name_1058","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":3,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"I18nStringView","$ref":"#/definitions/I18nStringView"}},"externalDocs":null,"title":null,"xml":{"name":"member","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"NoteView":{"type":"object","required":null,"discriminator":null,"properties":{"comment":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"I18nStringView","$ref":"#/definitions/I18nStringView"},"id":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"link":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":{"name":"note","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"ResultListView":{"type":"object","required":null,"discriminator":null,"properties":{"links":{"type":"array","format":null,"example":null,"xml":null,"position":99,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"LinkView","$ref":"#/definitions/LinkView"},"maxItems":null,"minItems":null},"notes":{"type":"array","format":null,"example":null,"xml":null,"position":2,"description":"Notes about the results","title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"NoteView","$ref":"#/definitions/NoteView"},"maxItems":null,"minItems":null},"results":{"type":"array","format":null,"example":null,"xml":null,"position":1,"description":"The results","title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"ResultView","$ref":"#/definitions/ResultView"},"maxItems":null,"minItems":null},"totalCount":{"type":"integer","format":"int64","example":null,"xml":{"name":"total_count","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":3,"description":"The total number of results","title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":{"name":"results","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"ResultView":{"type":"object","required":null,"discriminator":null,"properties":{"albertVidalAward":{"type":"boolean","format":null,"example":null,"xml":{"name":"albert_vidal_award","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":8,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"enum":null,"default":null},"bestOfNation":{"type":"boolean","format":null,"example":null,"xml":{"name":"best_of_nation","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":7,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"enum":null,"default":null},"competitors":{"type":"array","format":null,"example":null,"xml":null,"position":2,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"CompetitorView","$ref":"#/definitions/CompetitorView"},"maxItems":null,"minItems":null},"id":{"type":"integer","format":"int32","example":123,"xml":null,"position":1,"description":"unique numeric identifier","title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"links":{"type":"array","format":null,"example":null,"xml":null,"position":99,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"LinkView","$ref":"#/definitions/LinkView"},"maxItems":null,"minItems":null},"mark":{"type":"number","format":null,"example":700.0,"xml":null,"position":5,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null},"medal":{"format":null,"example":null,"xml":null,"position":4,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"MedalView","$ref":"#/definitions/MedalView"},"member":{"format":null,"example":null,"xml":null,"position":3,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"MemberView","$ref":"#/definitions/MemberView"},"noteIds":{"type":"array","format":null,"example":"[987, 654]","xml":{"name":"note_ids","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":11,"description":"IDs of notes associated with this result","title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"type":"integer","format":"int32","example":null,"xml":{"name":"note_ids","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"maxItems":null,"minItems":null},"position":{"type":"integer","format":"int32","example":3,"xml":null,"position":6,"description":"Ranking position within the Skill","title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"published":{"type":"boolean","format":null,"example":true,"xml":null,"position":9,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"enum":null,"default":null},"skill":{"format":null,"example":null,"xml":null,"position":10,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"SkillView","$ref":"#/definitions/SkillView"}},"externalDocs":null,"title":null,"xml":{"name":"result","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"SkillView":{"type":"object","required":null,"discriminator":null,"properties":{"baseId":{"type":"integer","format":"int32","example":456,"xml":{"name":"base_id","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":3,"description":"Base ID of Skill to compare with other events","title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"event":{"format":null,"example":null,"xml":null,"position":6,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"EventView","$ref":"#/definitions/EventView"},"id":{"type":"integer","format":"int32","example":123,"xml":null,"position":1,"description":"unique numeric identifier","title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"links":{"type":"array","format":null,"example":null,"xml":null,"position":99,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"LinkView","$ref":"#/definitions/LinkView"},"maxItems":null,"minItems":null},"name":{"format":null,"example":"{\"lang_code\":\"en\",\"text\":\"Landscape Gardening\"}","xml":null,"position":5,"description":"The name of the skill","title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"I18nStringView","$ref":"#/definitions/I18nStringView"},"number":{"type":"string","format":null,"example":"37","xml":null,"position":4,"description":"Skill number","title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"type":{"type":"string","format":null,"example":"official","xml":null,"position":2,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":["official","demo","presentation","multi","possible_official","proposed_demo","exhibition","host_member","juniors"],"default":null}},"externalDocs":null,"title":null,"xml":{"name":"skill","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"WsEntityView":{"type":"object","required":null,"discriminator":null,"properties":{"id":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"links":{"type":"array","format":null,"example":null,"xml":null,"position":99,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"LinkView","$ref":"#/definitions/LinkView"},"maxItems":null,"minItems":null},"name":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"I18nStringView","$ref":"#/definitions/I18nStringView"}},"externalDocs":null,"title":null,"xml":{"name":"ws_entity","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null}},"parameters":null,"responses":null,"externalDocs":null}