{"swagger":"2.0","info":{"description":null,"version":"1.0.0","title":null,"termsOfService":null,"contact":null,"license":null},"host":"api.worldskills.org","basePath":"/events","tags":[{"name":"Skills","description":null,"externalDocs":null},{"name":"Events","description":null,"externalDocs":null},{"name":"Ping","description":null,"externalDocs":null},{"name":"Sectors","description":null,"externalDocs":null},{"name":"Sponsors","description":null,"externalDocs":null}],"schemes":["https"],"consumes":null,"produces":null,"security":null,"paths":{"/":{"get":{"tags":["Events"],"summary":"List all events","description":"A list of all WorldSkills events. Sorted by default by descending start date.","operationId":"getEvents","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"offset","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":0,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"limit","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":10,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"sort","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":"start_date_desc","maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"name","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"type","in":"query","description":"event type","required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":["competition","general_assembly","champions_forum","conference","meeting","member_event"]},{"name":"ws_entity","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"country","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"show_cancelled","in":"query","description":null,"required":false,"type":"boolean","items":null,"collectionFormat":null,"default":false,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"after","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"date-time","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"before","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"date-time","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"Request successful","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"200":{"description":"Request successful","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":{"tags":["Events"],"summary":"Create an event","description":"","operationId":"createEvent","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"Event","$ref":"#/definitions/Event"},"x-examples":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"Event","$ref":"#/definitions/Event"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"Event","$ref":"#/definitions/Event"}},"401":{"description":"Missing authorization token","examples":null,"headers":null,"responseSchema":null,"schema":null},"403":{"description":"Insufficient permissions","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"Event","$ref":"#/definitions/Event"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"Event","$ref":"#/definitions/Event"}},"401":{"description":"Missing authorization token","examples":null,"headers":null,"responseSchema":null,"schema":null},"403":{"description":"Insufficient permissions","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/ping":{"get":{"tags":["Ping"],"summary":"Ping the Events web service","description":"Can be used to check if the Events web service is running","operationId":"ping","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PingView","$ref":"#/definitions/PingView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PingView","$ref":"#/definitions/PingView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PingView","$ref":"#/definitions/PingView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PingView","$ref":"#/definitions/PingView"}}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/sponsors":{"get":{"tags":["Sponsors"],"summary":null,"description":null,"operationId":"getSponsors","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"offset","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":0,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"limit","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":10,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"SponsorListView","$ref":"#/definitions/SponsorListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"SponsorListView","$ref":"#/definitions/SponsorListView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"SponsorListView","$ref":"#/definitions/SponsorListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"SponsorListView","$ref":"#/definitions/SponsorListView"}}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":{"tags":["Sponsors"],"summary":null,"description":null,"operationId":"createSponsor","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"SponsorView","$ref":"#/definitions/SponsorView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/sponsors/{id}":{"get":{"tags":["Sponsors"],"summary":null,"description":null,"operationId":"getSponsor","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"SponsorView","$ref":"#/definitions/SponsorView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"SponsorView","$ref":"#/definitions/SponsorView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"SponsorView","$ref":"#/definitions/SponsorView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"SponsorView","$ref":"#/definitions/SponsorView"}}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":{"tags":["Sponsors"],"summary":null,"description":null,"operationId":"updateSponsor","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"SponsorView","$ref":"#/definitions/SponsorView"},"x-examples":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"View","$ref":"#/definitions/View"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"View","$ref":"#/definitions/View"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"View","$ref":"#/definitions/View"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"View","$ref":"#/definitions/View"}}},"security":null,"externalDocs":null,"deprecated":null},"delete":{"tags":["Sponsors"],"summary":null,"description":null,"operationId":"deleteSponsor","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"options":null,"patch":null,"parameters":null},"/{eventId}/sectors":{"get":{"tags":["Sectors"],"summary":null,"description":null,"operationId":"getEventSectors","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"offset","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":0,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"limit","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":10,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"SectorListView","$ref":"#/definitions/SectorListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"SectorListView","$ref":"#/definitions/SectorListView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"SectorListView","$ref":"#/definitions/SectorListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"SectorListView","$ref":"#/definitions/SectorListView"}}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":{"tags":["Sectors"],"summary":null,"description":null,"operationId":"createSector","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"SectorView","$ref":"#/definitions/SectorView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/{eventId}/sectors/{id}":{"get":{"tags":["Sectors"],"summary":null,"description":null,"operationId":"getSector","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"SectorView","$ref":"#/definitions/SectorView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"SectorView","$ref":"#/definitions/SectorView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"SectorView","$ref":"#/definitions/SectorView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"SectorView","$ref":"#/definitions/SectorView"}}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":{"tags":["Sectors"],"summary":null,"description":null,"operationId":"updateSector","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"SectorView","$ref":"#/definitions/SectorView"},"x-examples":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"View","$ref":"#/definitions/View"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"View","$ref":"#/definitions/View"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"View","$ref":"#/definitions/View"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"View","$ref":"#/definitions/View"}}},"security":null,"externalDocs":null,"deprecated":null},"delete":{"tags":["Sectors"],"summary":null,"description":null,"operationId":"deleteSector","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"options":null,"patch":null,"parameters":null},"/{eventId}/sectors/{sectorId}/groups":{"get":{"tags":["Sectors"],"summary":null,"description":null,"operationId":"getGroups","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"offset","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":0,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"limit","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":10,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"sectorId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"GroupListView","$ref":"#/definitions/GroupListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"GroupListView","$ref":"#/definitions/GroupListView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"GroupListView","$ref":"#/definitions/GroupListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"GroupListView","$ref":"#/definitions/GroupListView"}}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":{"tags":["Sectors"],"summary":null,"description":null,"operationId":"createGroup","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"sectorId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"GroupView","$ref":"#/definitions/GroupView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/{eventId}/sectors/{sectorId}/groups/{groupId}/sponsors":{"get":{"tags":["Sponsors"],"summary":null,"description":null,"operationId":"getGroupSponsors","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"sectorId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"groupId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"offset","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":0,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"limit","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":10,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"SponsorListView","$ref":"#/definitions/SponsorListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"SponsorListView","$ref":"#/definitions/SponsorListView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"SponsorListView","$ref":"#/definitions/SponsorListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"SponsorListView","$ref":"#/definitions/SponsorListView"}}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/{eventId}/sectors/{sectorId}/groups/{groupId}/sponsors/{id}":{"get":null,"head":null,"post":null,"put":{"tags":["Sponsors"],"summary":null,"description":null,"operationId":"addGroupSponsor","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"sectorId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"groupId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"delete":{"tags":["Sponsors"],"summary":null,"description":null,"operationId":"deleteGroupSponsor","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"sectorId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"groupId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"options":null,"patch":null,"parameters":null},"/{eventId}/sectors/{sectorId}/groups/{id}":{"get":{"tags":["Sectors"],"summary":null,"description":null,"operationId":"getGroup","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"sectorId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"GroupView","$ref":"#/definitions/GroupView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"GroupView","$ref":"#/definitions/GroupView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"GroupView","$ref":"#/definitions/GroupView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"GroupView","$ref":"#/definitions/GroupView"}}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":{"tags":["Sectors"],"summary":null,"description":null,"operationId":"updateGroup","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"sectorId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"GroupView","$ref":"#/definitions/GroupView"},"x-examples":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"View","$ref":"#/definitions/View"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"View","$ref":"#/definitions/View"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"View","$ref":"#/definitions/View"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"View","$ref":"#/definitions/View"}}},"security":null,"externalDocs":null,"deprecated":null},"delete":{"tags":["Sectors"],"summary":null,"description":null,"operationId":"deleteGroup","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"sectorId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"options":null,"patch":null,"parameters":null},"/{eventId}/sectors/{sectorId}/sponsors":{"get":{"tags":["Sponsors"],"summary":null,"description":null,"operationId":"getSectorSponsors","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"sectorId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"offset","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":0,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"limit","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":10,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"SponsorListView","$ref":"#/definitions/SponsorListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"SponsorListView","$ref":"#/definitions/SponsorListView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"SponsorListView","$ref":"#/definitions/SponsorListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"SponsorListView","$ref":"#/definitions/SponsorListView"}}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/{eventId}/sectors/{sectorId}/sponsors/{id}":{"get":null,"head":null,"post":null,"put":{"tags":["Sponsors"],"summary":null,"description":null,"operationId":"addSectorSponsor","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"sectorId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"delete":{"tags":["Sponsors"],"summary":null,"description":null,"operationId":"deleteSectorSponsor","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"sectorId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"options":null,"patch":null,"parameters":null},"/{eventId}/skills":{"get":{"tags":["Skills"],"summary":"Get event skills","description":"A list of all skills of a WorldSkills event.","operationId":"getCompetitionSkills","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"offset","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":0,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"limit","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":10,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"sort","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":"sort_asc","maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"name","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"status","in":"query","description":null,"required":false,"type":"array","items":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"collectionFormat":"multi","default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"number","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"base_skill","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"sector","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"type","in":"query","description":null,"required":false,"type":"array","items":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":["official","demo","presentation","multi","possible_official","proposed_demo","exhibition","host_member","juniors"],"default":null},"collectionFormat":"multi","default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"CompetitionSkillListView","$ref":"#/definitions/CompetitionSkillListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"CompetitionSkillListView","$ref":"#/definitions/CompetitionSkillListView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"CompetitionSkillListView","$ref":"#/definitions/CompetitionSkillListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"CompetitionSkillListView","$ref":"#/definitions/CompetitionSkillListView"}}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":{"tags":["Skills"],"summary":null,"description":null,"operationId":"createSkill","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"CompetitionSkillView","$ref":"#/definitions/CompetitionSkillView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/{eventId}/skills/{id}":{"get":{"tags":["Skills"],"summary":null,"description":null,"operationId":"getSkill","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"translations","in":"query","description":null,"required":false,"type":"boolean","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"CompetitionSkillView","$ref":"#/definitions/CompetitionSkillView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"CompetitionSkillView","$ref":"#/definitions/CompetitionSkillView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"CompetitionSkillView","$ref":"#/definitions/CompetitionSkillView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"CompetitionSkillView","$ref":"#/definitions/CompetitionSkillView"}}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":{"tags":["Skills"],"summary":null,"description":null,"operationId":"updateSkill","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"CompetitionSkillView","$ref":"#/definitions/CompetitionSkillView"},"x-examples":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"View","$ref":"#/definitions/View"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"View","$ref":"#/definitions/View"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"View","$ref":"#/definitions/View"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"View","$ref":"#/definitions/View"}}},"security":null,"externalDocs":null,"deprecated":null},"delete":{"tags":["Skills"],"summary":null,"description":null,"operationId":"deleteSkill","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"options":null,"patch":null,"parameters":null},"/{eventId}/skills/{id}/clone":{"get":null,"head":null,"post":{"tags":["Skills"],"summary":null,"description":null,"operationId":"cloneSkill","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"CompetitionSkillCloneRequestView","$ref":"#/definitions/CompetitionSkillCloneRequestView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/{eventId}/skills/{id}/photos":{"get":null,"head":null,"post":{"tags":["Skills"],"summary":null,"description":null,"operationId":"createSkillPhoto","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"CompetitionSkillPhotoView","$ref":"#/definitions/CompetitionSkillPhotoView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/{eventId}/skills/{skillId}/photos/{id}":{"get":{"tags":["Skills"],"summary":null,"description":null,"operationId":"getSkillPhoto","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"skillId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"CompetitionSkillPhotoView","$ref":"#/definitions/CompetitionSkillPhotoView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"CompetitionSkillPhotoView","$ref":"#/definitions/CompetitionSkillPhotoView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"CompetitionSkillPhotoView","$ref":"#/definitions/CompetitionSkillPhotoView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"CompetitionSkillPhotoView","$ref":"#/definitions/CompetitionSkillPhotoView"}}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":{"tags":["Skills"],"summary":null,"description":null,"operationId":"updateSkillPhoto","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"skillId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"CompetitionSkillPhotoView","$ref":"#/definitions/CompetitionSkillPhotoView"},"x-examples":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"View","$ref":"#/definitions/View"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"View","$ref":"#/definitions/View"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"View","$ref":"#/definitions/View"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"View","$ref":"#/definitions/View"}}},"security":null,"externalDocs":null,"deprecated":null},"delete":{"tags":["Skills"],"summary":null,"description":null,"operationId":"deleteSkillPhoto","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"skillId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"options":null,"patch":null,"parameters":null},"/{eventId}/skills/{skillId}/sponsors/{sponsorId}":{"get":null,"head":null,"post":null,"put":{"tags":["Skills"],"summary":null,"description":null,"operationId":"addSponsor","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"skillId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"sponsorId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"CompetitionSkillSponsorView","$ref":"#/definitions/CompetitionSkillSponsorView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"delete":{"tags":["Skills"],"summary":null,"description":null,"operationId":"removeSponsor","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"skillId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"sponsorId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"options":null,"patch":null,"parameters":null},"/{eventId}/skills/{skillId}/tags/{id}":{"get":null,"head":null,"post":null,"put":{"tags":["Skills"],"summary":null,"description":null,"operationId":"addTag","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"skillId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"delete":{"tags":["Skills"],"summary":null,"description":null,"operationId":"removeTag","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"skillId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"options":null,"patch":null,"parameters":null},"/{eventId}/sponsors":{"get":{"tags":["Sponsors"],"summary":null,"description":null,"operationId":"getEventSponsors","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"offset","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":0,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"limit","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":10,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"SponsorListView","$ref":"#/definitions/SponsorListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"SponsorListView","$ref":"#/definitions/SponsorListView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"SponsorListView","$ref":"#/definitions/SponsorListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"SponsorListView","$ref":"#/definitions/SponsorListView"}}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/{id}":{"get":{"tags":["Events"],"summary":"Get an event by ID","description":"","operationId":"getEvent","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":"\\d+","maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"Event","$ref":"#/definitions/Event"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"Event","$ref":"#/definitions/Event"}},"404":{"description":"Event not found","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"Event","$ref":"#/definitions/Event"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"Event","$ref":"#/definitions/Event"}},"404":{"description":"Event not found","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":{"tags":["Events"],"summary":"Update an event","description":"","operationId":"updateEvent","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":"\\d+","maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"Event","$ref":"#/definitions/Event"},"x-examples":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"Event","$ref":"#/definitions/Event"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"Event","$ref":"#/definitions/Event"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"Event","$ref":"#/definitions/Event"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"Event","$ref":"#/definitions/Event"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"delete":{"tags":["Events"],"summary":"Delete an event","description":"","operationId":"deleteEvent","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":"\\d+","maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"204":{"description":"Event deleted","examples":null,"headers":null,"responseSchema":null,"schema":null},"404":{"description":"Event not found","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"204":{"description":"Event deleted","examples":null,"headers":null,"responseSchema":null,"schema":null},"404":{"description":"Event not found","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"options":null,"patch":null,"parameters":null}},"securityDefinitions":null,"definitions":{"CompetitionSkillCloneRequestView":{"type":"object","required":["event"],"discriminator":null,"properties":{"event":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"Event","$ref":"#/definitions/Event"}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"CompetitionSkillListView":{"type":"object","required":null,"discriminator":null,"properties":{"links":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"LinkView","$ref":"#/definitions/LinkView"},"maxItems":null,"minItems":null},"skills":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"CompetitionSkillView","$ref":"#/definitions/CompetitionSkillView"},"maxItems":null,"minItems":null},"totalCount":{"type":"integer","format":"int64","example":null,"xml":{"name":"total_count","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":{"name":"skills","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"CompetitionSkillPhotoView":{"type":"object","required":null,"discriminator":null,"properties":{"description":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"I18nStringView","$ref":"#/definitions/I18nStringView"},"id":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"imageId":{"type":"integer","format":"int32","example":null,"xml":{"name":"image_id","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"links":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"LinkView","$ref":"#/definitions/LinkView"},"maxItems":null,"minItems":null},"sort":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"thumbnail":{"type":"string","format":"uri","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"thumbnailHash":{"type":"string","format":null,"example":null,"xml":{"name":"thumbnail_hash","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":{"name":"photo","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"CompetitionSkillSponsorView":{"type":"object","required":null,"discriminator":null,"properties":{"id":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"links":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"LinkView","$ref":"#/definitions/LinkView"},"maxItems":null,"minItems":null},"logo":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"ImageView","$ref":"#/definitions/ImageView"},"name":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"sort":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"url":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":{"name":"sponsor","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"CompetitionSkillTagView":{"type":"object","required":null,"discriminator":null,"properties":{"id":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"name":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"I18nStringView","$ref":"#/definitions/I18nStringView"}},"externalDocs":null,"title":null,"xml":{"name":"tag","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"CompetitionSkillView":{"type":"object","required":["description","name","number","status","type"],"discriminator":null,"properties":{"baseId":{"type":"integer","format":"int32","example":null,"xml":{"name":"base_id","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"compatriotMarking":{"type":"boolean","format":null,"example":null,"xml":{"name":"compatriot_marking","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"enum":null,"default":null},"competitorMaxAge":{"type":"integer","format":"int32","example":null,"xml":{"name":"competitor_max_age","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"description":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"I18nStringView","$ref":"#/definitions/I18nStringView"},"descriptionCompetitionAction":{"format":null,"example":null,"xml":{"name":"description_competition_action","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"I18nStringView","$ref":"#/definitions/I18nStringView"},"descriptionFacts":{"format":null,"example":null,"xml":{"name":"description_facts","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"I18nStringView","$ref":"#/definitions/I18nStringView"},"descriptionIndustryAction":{"format":null,"example":null,"xml":{"name":"description_industry_action","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"I18nStringView","$ref":"#/definitions/I18nStringView"},"descriptionRequiredSkills":{"format":null,"example":null,"xml":{"name":"description_required_skills","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"I18nStringView","$ref":"#/definitions/I18nStringView"},"entity":{"format":null,"example":null,"xml":{"name":"ws_entity","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"WsEntityView","$ref":"#/definitions/WsEntityView"},"event":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"Event","$ref":"#/definitions/Event"},"generate500Scale":{"type":"boolean","format":null,"example":null,"xml":{"name":"generate_500_scale","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"enum":null,"default":null},"group":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"GroupView","$ref":"#/definitions/GroupView"},"groupCompetitors":{"type":"boolean","format":null,"example":null,"xml":{"name":"group_competitors","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"enum":null,"default":null},"id":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"identifyJudges":{"type":"boolean","format":null,"example":null,"xml":{"name":"identify_judges","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"enum":null,"default":null},"landscapeMarking":{"type":"boolean","format":null,"example":null,"xml":{"name":"landscape_marking","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"position":null,"description":null,"title":null,"readOnly":null,"allow
[...]
