{"swagger":"2.0","info":{"description":null,"version":"1.0.0","title":null,"termsOfService":null,"contact":null,"license":null},"host":"api.worldskills.org","basePath":"/people","tags":[{"name":"Images","description":null,"externalDocs":null},{"name":"Public People","description":null,"externalDocs":null},{"name":"People","description":null,"externalDocs":null},{"name":"sf","description":null,"externalDocs":null}],"schemes":["https"],"consumes":null,"produces":null,"security":null,"paths":{"/person":{"get":{"tags":["People"],"summary":"Search for people","description":"","operationId":"getPeople_1","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"offset","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":0,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"limit","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":10,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"entity","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"country","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"position","in":"query","description":null,"required":false,"type":"array","items":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"collectionFormat":"multi","default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"base_position","in":"query","description":null,"required":false,"type":"array","items":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"collectionFormat":"multi","default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"base_position_entity","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"skill","in":"query","description":null,"required":false,"type":"array","items":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"collectionFormat":"multi","default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"skill_id","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"skill_num","in":"query","description":null,"required":false,"type":"array","items":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"collectionFormat":"multi","default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"sector","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"email","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"event","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"name","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"after","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"date-time","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"before","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"date-time","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"sort","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":["lastname_asc","lastname_desc","firstname_asc","firstname_desc","member_name_1058_asc","member_name_1058_desc"]},{"name":"start_before","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"date-time","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"end_after","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"date-time","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"training_id","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"award_id","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"mailing_list_id","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"org_id","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"member_id","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"role_application_id","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"role_id","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"training_status","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":1,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"include_history","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":0,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"show_inactive","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":0,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"show_invalid_position","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":0,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"public_view_only","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":0,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"show_hidden","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":0,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"person_id_only","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":0,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"search_child_entities","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":1,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"editable_only","in":"query","description":null,"required":false,"type":"boolean","items":null,"collectionFormat":null,"default":false,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonSearchListView","$ref":"#/definitions/PersonSearchListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonSearchListView","$ref":"#/definitions/PersonSearchListView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonSearchListView","$ref":"#/definitions/PersonSearchListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonSearchListView","$ref":"#/definitions/PersonSearchListView"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"head":null,"post":{"tags":["People"],"summary":"Create a new Person","description":"","operationId":"createPerson","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"PersonCreateView","$ref":"#/definitions/PersonCreateView"},"x-examples":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonView","$ref":"#/definitions/PersonView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonView","$ref":"#/definitions/PersonView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonView","$ref":"#/definitions/PersonView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonView","$ref":"#/definitions/PersonView"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/person/autocomplete":{"get":{"tags":["People"],"summary":"Returns a list of people that match the search criteria","description":"","operationId":"getAutocomplete","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"entity","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"s","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"fn","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"ln","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"e","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonAutocompleteListView","$ref":"#/definitions/PersonAutocompleteListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonAutocompleteListView","$ref":"#/definitions/PersonAutocompleteListView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonAutocompleteListView","$ref":"#/definitions/PersonAutocompleteListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonAutocompleteListView","$ref":"#/definitions/PersonAutocompleteListView"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/person/find_duplicates":{"get":{"tags":["People"],"summary":null,"description":null,"operationId":"getDuplicatePeople","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"limit","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":10,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"name","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/person/legacy":{"get":{"tags":["People"],"summary":null,"description":null,"operationId":"getLegacyId","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/person/{personId}":{"get":{"tags":["People"],"summary":"Returns a specific person as a vCard","description":"","operationId":"getPersonVCF","schemes":null,"consumes":null,"produces":["text/vcard"],"parameters":[{"name":"personId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"VCard","$ref":"#/definitions/VCard"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"VCard","$ref":"#/definitions/VCard"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"VCard","$ref":"#/definitions/VCard"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"VCard","$ref":"#/definitions/VCard"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":{"tags":["People"],"summary":"Update an existing person","description":"","operationId":"updatePerson","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"personId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"person_name_change_reason","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"PersonView","$ref":"#/definitions/PersonView"},"x-examples":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonView","$ref":"#/definitions/PersonView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonView","$ref":"#/definitions/PersonView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonView","$ref":"#/definitions/PersonView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonView","$ref":"#/definitions/PersonView"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"delete":{"tags":["People"],"summary":"Delete a person","description":"","operationId":"deletePerson","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"personId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"options":null,"patch":null,"parameters":null},"/person/{personId}/dob":{"get":null,"head":null,"post":null,"put":{"tags":["People"],"summary":"Update an existing person and set only DOB","description":"","operationId":"updatePersonDOB","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"personId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"PersonView","$ref":"#/definitions/PersonView"},"x-examples":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonView","$ref":"#/definitions/PersonView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonView","$ref":"#/definitions/PersonView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonView","$ref":"#/definitions/PersonView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonView","$ref":"#/definitions/PersonView"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"delete":null,"options":null,"patch":null,"parameters":null},"/person/{personId}/gender":{"get":null,"head":null,"post":null,"put":{"tags":["People"],"summary":"Update an existing person and set only DOB","description":"","operationId":"updatePersonGender","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"personId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"PersonView","$ref":"#/definitions/PersonView"},"x-examples":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonView","$ref":"#/definitions/PersonView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonView","$ref":"#/definitions/PersonView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonView","$ref":"#/definitions/PersonView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonView","$ref":"#/definitions/PersonView"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"delete":null,"options":null,"patch":null,"parameters":null},"/person/{personId}/images":{"get":{"tags":["Images"],"summary":"Gets a list of personImages for all entities","description":"","operationId":"getList","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"personId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"show_inactive","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"types","in":"query","description":null,"required":false,"type":"array","items":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":["ACCREDITATION","TEAM","PERSONAL"],"default":"TEAM"},"collectionFormat":"multi","default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonImageListView","$ref":"#/definitions/PersonImageListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonImageListView","$ref":"#/definitions/PersonImageListView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonImageListView","$ref":"#/definitions/PersonImageListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonImageListView","$ref":"#/definitions/PersonImageListView"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"head":null,"post":{"tags":["Images"],"summary":"Create a new PersonImage","description":"","operationId":"createPersonImage","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"personId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"PersonImageView","$ref":"#/definitions/PersonImageView"},"x-examples":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonImageView","$ref":"#/definitions/PersonImageView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonImageView","$ref":"#/definitions/PersonImageView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonImageView","$ref":"#/definitions/PersonImageView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonImageView","$ref":"#/definitions/PersonImageView"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/person/{personId}/images/entity/{entityId}":{"get":{"tags":["Images"],"summary":"Returns a specific personImage by entity code","description":"","operationId":"getPersonImageByEntity","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"personId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"entityId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"type","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":"TEAM","maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":["ACCREDITATION","TEAM","PERSONAL"]}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonImageView","$ref":"#/definitions/PersonImageView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonImageView","$ref":"#/definitions/PersonImageView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonImageView","$ref":"#/definitions/PersonImageView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonImageView","$ref":"#/definitions/PersonImageView"}}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/person/{personId}/images/history":{"get":{"tags":["Images"],"summary":"Gets a list of personImages for all entities","description":"","operationId":"getListHistory","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"personId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"show_inactive","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"types","in":"query","description":null,"required":false,"type":"array","items":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":["ACCREDITATION","TEAM","PERSONAL"],"default":"TEAM"},"collectionFormat":"multi","default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonImageListView","$ref":"#/definitions/PersonImageListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonImageListView","$ref":"#/definitions/PersonImageListView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonImageListView","$ref":"#/definitions/PersonImageListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonImageListView","$ref":"#/definitions/PersonImageListView"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/person/{personId}/images/types/{type}":{"get":{"tags":["Images"],"summary":"Returns a specific personImage","description":"","operationId":"getPersonImageByType","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"personId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"type","in":"path","description":null,"required":true,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":["ACCREDITATION","TEAM","PERSONAL"]}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonImageView","$ref":"#/definitions/PersonImageView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonImageView","$ref":"#/definitions/PersonImageView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonImageView","$ref":"#/definitions/PersonImageView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonImageView","$ref":"#/definitions/PersonImageView"}}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":{"tags":["Images"],"summary":"Delete a PersonImage by type","description":"","operationId":"deletePersonImagesByType","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"type","in":"path","description":null,"required":true,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":["ACCREDITATION","TEAM","PERSONAL"]},{"name":"personId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonImageView","$ref":"#/definitions/PersonImageView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonImageView","$ref":"#/definitions/PersonImageView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonImageView","$ref":"#/definitions/PersonImageView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonImageView","$ref":"#/definitions/PersonImageView"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"options":null,"patch":null,"parameters":null},"/person/{personId}/images/{personImageId}":{"get":{"tags":["Images"],"summary":"Returns a specific personImage","description":"","operationId":"getPersonImage","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"personImageId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonImageView","$ref":"#/definitions/PersonImageView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonImageView","$ref":"#/definitions/PersonImageView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonImageView","$ref":"#/definitions/PersonImageView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonImageView","$ref":"#/definitions/PersonImageView"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/person/{personId}/images/{personImageId}/type":{"get":null,"head":null,"post":null,"put":{"tags":["Images"],"summary":"Create a new PersonImage","description":"","operationId":"updatePersonImageType","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"personImageId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"personId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"PersonImageTypeView","$ref":"#/definitions/PersonImageTypeView"},"x-examples":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonImageView","$ref":"#/definitions/PersonImageView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonImageView","$ref":"#/definitions/PersonImageView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonImageView","$ref":"#/definitions/PersonImageView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonImageView","$ref":"#/definitions/PersonImageView"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"delete":null,"options":null,"patch":null,"parameters":null},"/person/{personId}/name-history":{"get":{"tags":["People"],"summary":"Returns a person's name history","description":"","operationId":"getPersonNameHistory","schemes":null,"consumes":null,"produces":null,"parameters":[{"name":"personId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonNameHistoryListView","$ref":"#/definitions/PersonNameHistoryListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonNameHistoryListView","$ref":"#/definitions/PersonNameHistoryListView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonNameHistoryListView","$ref":"#/definitions/PersonNameHistoryListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonNameHistoryListView","$ref":"#/definitions/PersonNameHistoryListView"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/person/{personId}/notes":{"get":{"tags":["People"],"summary":"Get a Person note","description":"","operationId":"getPersonNote","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"personId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonNoteView","$ref":"#/definitions/PersonNoteView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonNoteView","$ref":"#/definitions/PersonNoteView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonNoteView","$ref":"#/definitions/PersonNoteView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonNoteView","$ref":"#/definitions/PersonNoteView"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"head":null,"post":{"tags":["People"],"summary":"Create a new Person note","description":"","operationId":"createPersonNote","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"personId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"PersonNoteView","$ref":"#/definitions/PersonNoteView"},"x-examples":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonNoteView","$ref":"#/definitions/PersonNoteView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonNoteView","$ref":"#/definitions/PersonNoteView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonNoteView","$ref":"#/definitions/PersonNoteView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonNoteView","$ref":"#/definitions/PersonNoteView"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"put":{"tags":["People"],"summary":"Update a new Person note","description":"","operationId":"updatePersonNote","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"personId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"PersonNoteView","$ref":"#/definitions/PersonNoteView"},"x-examples":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonNoteView","$ref":"#/definitions/PersonNoteView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonNoteView","$ref":"#/definitions/PersonNoteView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonNoteView","$ref":"#/definitions/PersonNoteView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonNoteView","$ref":"#/definitions/PersonNoteView"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"delete":null,"options":null,"patch":null,"parameters":null},"/person/{person_id}/share_entities":{"get":null,"head":null,"post":{"tags":["People"],"summary":null,"description":null,"operationId":"addShareEntity","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"PersonShareEntityAddView","$ref":"#/definitions/PersonShareEntityAddView"},"x-examples":null},{"name":"person_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/person/{person_id}/share_entities/{se_id}":{"get":null,"head":null,"post":null,"put":null,"delete":{"tags":["People"],"summary":null,"description":null,"operationId":"removeShareEntity","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"person_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"se_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"options":null,"patch":null,"parameters":null},"/public":{"get":{"tags":["Public People"],"summary":"List Public People","description":"","operationId":"getPeople","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"offset","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":0,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"limit","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":10,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"position","in":"query","description":null,"required":false,"type":"array","items":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"collectionFormat":"multi","default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"base_position","in":"query","description":null,"required":false,"type":"array","items":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"collectionFormat":"multi","default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"base_position_entity","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"skill","in":"query","description":null,"required":false,"type":"array","items":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"collectionFormat":"multi","default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"skill_id","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"skill_num","in":"query","description":null,"required":false,"type":"array","items":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"collectionFormat":"multi","default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"sector","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"event","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"name","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"after","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"date-time","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"before","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"date-time","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"sort","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":["lastname_asc","lastname_desc","firstname_asc","firstname_desc","member_name_1058_asc","member_name_1058_desc"]},{"name":"start_before","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"date-time","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"end_after","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"date-time","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"mailing_list_id","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"org_id","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"member_id","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"include_history","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":1,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"show_inactive","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":1,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"quote_only","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":0,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"approved","in":"query","description":null,"required":false,"type":"boolean","items":null,"collectionFormat":null,"default":true,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonSearchListView","$ref":"#/definitions/PersonSearchListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonSearchListView","$ref":"#/definitions/PersonSearchListView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonSearchListView","$ref":"#/definitions/PersonSearchListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonSearchListView","$ref":"#/definitions/PersonSearchListView"}}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/public/{personId}":{"get":{"tags":["Public People"],"summary":"Get Public Person","description":"","operationId":"getPerson","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"personId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"include_history","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":1,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonView","$ref":"#/definitions/PersonView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonView","$ref":"#/definitions/PersonView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonView","$ref":"#/definitions/PersonView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonView","$ref":"#/definitions/PersonView"}}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/sf":{"get":{"tags":["sf"],"summary":null,"description":null,"operationId":"getDashboard","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"page","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":1,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"size","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":10,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"source","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"status","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"fromDate","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"toDate","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/sf/auth":{"get":null,"head":null,"post":{"tags":["sf"],"summary":null,"description":null,"operationId":"testAuth","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/sf/integrations":{"get":{"tags":["sf"],"summary":null,"description":null,"operationId":"getIntegrations","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/sf/queue":{"get":{"tags":["sf"],"summary":null,"description":null,"operationId":"getQueue","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"offset","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":0,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"limit","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":20,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/sf/{id}":{"get":null,"head":null,"post":{"tags":["sf"],"summary":null,"description":null,"operationId":"processSync","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/sf/{id}/ignore":{"get":null,"head":null,"post":null,"put":{"tags":["sf"],"summary":null,"description":null,"operationId":"ignoreSync","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"delete":null,"options":null,"patch":null,"parameters":null}},"securityDefinitions":null,"definitions":{"Address":{"type":"object","required":null,"discriminator":null,"properties":{"altId":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"countries":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"maxItems":null,"minItems":null},"country":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"extendedAddress":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"extendedAddressFull":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"extendedAddresses":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"maxItems":null,"minItems":null},"geo":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"GeoUri","$ref":"#/definitions/GeoUri"},"group":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"label":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"language":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"localities":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"maxItems":null,"minItems":null},"locality":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"parameters":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"VCardParameters","$ref":"#/definitions/VCardParameters"},"pids":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"Pid","$ref":"#/definitions/Pid"},"maxItems":null,"minItems":null},"poBox":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"poBoxes":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"maxItems":null,"minItems":null},"postalCode":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"postalCodes":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"maxItems":null,"minItems":null},"pref":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"region":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"regions":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"maxItems":null,"minItems":null},"streetAddress":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"streetAddressFull":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"streetAddresses":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"maxItems":null,"minItems":null},"supportedVersions":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":["V2_1","V3_0","V4_0"],"default":null},"maxItems":null,"minItems":null},"timezone":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"types":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"AddressType","$ref":"#/definitions/AddressType"},"maxItems":null,"minItems":null}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"AddressType":{"type":"object","required":null,"discriminator":null,"properties":{"supportedVersions":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":["V2_1","V3_0","V4_0"],"default":null},"maxItems":null,"minItems":null},"value":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"AddressTypeView":{"type":"object","required":null,"discriminator":null,"properties":{"id":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"name":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"primary":{"type":"boolean","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":{"name":"type","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"Agent":{"type":"object","required":null,"discriminator":null,"properties":{"group":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"parameters":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"VCardParameters","$ref":"#/definitions/VCardParameters"},"supportedVersions":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":["V2_1","V3_0","V4_0"],"default":null},"maxItems":null,"minItems":null},"url":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"vcard":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"VCard","$ref":"#/definitions/VCard"}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"Anniversary":{"type":"object","required":null,"discriminator":null,"properties":{"altId":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"calscale":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"Calscale","$ref":"#/definitions/Calscale"},"date":{"type":"string","format":"date-time","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"enum":null},"group":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"language":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"parameters":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"VCardParameters","$ref":"#/definitions/VCardParameters"},"partialDate":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PartialDate","$ref":"#/definitions/PartialDate"},"supportedVersions":{"type":"array","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"uniqueItems":null,"items":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":["V2_1","V3_0","V4_0"],"default":null},"maxItems":null,"minItems":null},"text":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"BasePositionTypeView":{"type":"object","required":null,"discriminator":null,"properties":{"name":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null}},"externalDocs":null,"title":null,"xml":{"name":"position_type","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"BasePositionView":{"type":"object","required":null,"discriminator":null,"properties":{"id":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"name":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"I18nStringView","$ref":"#/definitions/I18nStringView"},"short_name":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"type":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"BasePositionTypeView","$ref":"#/definitions/BasePositionTypeView"}},"externalDocs":null,"title":null,"xml":{"name":"base_position","namespace":null,"prefix":null,"attribute":null,"wrapped":null},"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"minLength":null,"maxLength":null,"pattern":null,"format":null,"allowEmptyValue":null,"uniqueItems":null,"description":null,"example":null,"additionalProperties":null,"enum":null,"default":null},"Birthday":{"type":"object","required":null,"discriminator":null,"properties":{"altId":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"calscale":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"Calscale","$ref":"#/definitions/Calscale"},"date":{"type":"string","format":"date-time","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"enum":null},"group":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"language":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"parameters":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"VCardParameters","$ref":"#/definitions/VCardParameters"},"partialDate":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PartialDate","$ref":"#/definitions/Part
[...]
