{"swagger":"2.0","info":{"description":null,"version":"1.0.0","title":null,"termsOfService":null,"contact":null,"license":null},"host":"api.worldskills.org","basePath":"/registrations","tags":[{"name":"Images","description":null,"externalDocs":null},{"name":"Integrations","description":null,"externalDocs":null},{"name":"Manage Groups","description":null,"externalDocs":null},{"name":"Register Person","description":null,"externalDocs":null},{"name":"Register Positions","description":null,"externalDocs":null},{"name":"Registration Groups","description":null,"externalDocs":null},{"name":"Registration Status","description":null,"externalDocs":null},{"name":"Accreditation Sync","description":null,"externalDocs":null},{"name":"Accreditation Scans","description":null,"externalDocs":null},{"name":"Accreditation Zones","description":null,"externalDocs":null}],"schemes":["https"],"consumes":null,"produces":null,"security":null,"paths":{"/accreditation/events/{eventId}/scan":{"get":null,"head":null,"post":{"tags":["Accreditation Scans"],"summary":"Method for the accreditation scan app to send scans","description":"","operationId":"scanPersonAccreditation","schemes":null,"consumes":null,"produces":null,"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"ScanRequestView","$ref":"#/definitions/ScanRequestView"},"x-examples":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonAccreditationScanView","$ref":"#/definitions/PersonAccreditationScanView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonAccreditationScanView","$ref":"#/definitions/PersonAccreditationScanView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonAccreditationScanView","$ref":"#/definitions/PersonAccreditationScanView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonAccreditationScanView","$ref":"#/definitions/PersonAccreditationScanView"}}},"security":[{"x-device-token":[]}],"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/accreditation/events/{eventId}/scan_devices":{"get":null,"head":null,"post":{"tags":["Accreditation Scans"],"summary":null,"description":null,"operationId":"registerScanDevice","schemes":null,"consumes":null,"produces":null,"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"ScanDeviceView","$ref":"#/definitions/ScanDeviceView"},"x-examples":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"ScanDeviceView","$ref":"#/definitions/ScanDeviceView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"ScanDeviceView","$ref":"#/definitions/ScanDeviceView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"ScanDeviceView","$ref":"#/definitions/ScanDeviceView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"ScanDeviceView","$ref":"#/definitions/ScanDeviceView"}}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/accreditation/events/{eventId}/scans":{"get":{"tags":["Accreditation Scans"],"summary":"Returns a list of scans for an event","description":"","operationId":"getScans","schemes":null,"consumes":null,"produces":null,"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"zone","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"positions","in":"query","description":null,"required":false,"type":"array","items":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"collectionFormat":"multi","default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"member","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"accreditation","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"from","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"to","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"offset","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":0,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"limit","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":30,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonAccreditationScanListView","$ref":"#/definitions/PersonAccreditationScanListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonAccreditationScanListView","$ref":"#/definitions/PersonAccreditationScanListView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonAccreditationScanListView","$ref":"#/definitions/PersonAccreditationScanListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonAccreditationScanListView","$ref":"#/definitions/PersonAccreditationScanListView"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"head":null,"post":{"tags":["Accreditation Scans"],"summary":"Method for third-party access control systems to send scans","description":"","operationId":"addScan","schemes":null,"consumes":null,"produces":null,"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"ScanRequestView","$ref":"#/definitions/ScanRequestView"},"x-examples":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonAccreditationScanView","$ref":"#/definitions/PersonAccreditationScanView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonAccreditationScanView","$ref":"#/definitions/PersonAccreditationScanView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonAccreditationScanView","$ref":"#/definitions/PersonAccreditationScanView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonAccreditationScanView","$ref":"#/definitions/PersonAccreditationScanView"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/accreditation/events/{eventId}/scans/export":{"get":{"tags":["Accreditation Scans"],"summary":"Export scans for an event in XLSX format","description":"","operationId":"exportScans","schemes":null,"consumes":null,"produces":["application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"zone","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"positions","in":"query","description":null,"required":false,"type":"array","items":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"collectionFormat":"multi","default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"member","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"accreditation","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"from","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"to","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"offset","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":0,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"limit","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":30,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/accreditation/events/{eventId}/sync":{"get":{"tags":["Accreditation Sync"],"summary":"Returns all accreditations for an event, optionally filtered only to accreditations changed since a certain timestamp","description":"","operationId":"sync","schemes":null,"consumes":null,"produces":["application/json"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"since","in":"query","description":"only return changed accreditations since this timestamp","required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"date-time","allowEmptyValue":null,"x-example":"2024-05-23T16:30:00Z","enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonAccreditationSyncListView","$ref":"#/definitions/PersonAccreditationSyncListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonAccreditationSyncListView","$ref":"#/definitions/PersonAccreditationSyncListView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonAccreditationSyncListView","$ref":"#/definitions/PersonAccreditationSyncListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonAccreditationSyncListView","$ref":"#/definitions/PersonAccreditationSyncListView"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/accreditation/events/{eventId}/sync/person/{personId}":{"get":{"tags":["Accreditation Sync"],"summary":"Returns event accreditation data for a person","description":"","operationId":"syncPerson","schemes":null,"consumes":null,"produces":["application/json"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"personId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonAccreditationSyncView","$ref":"#/definitions/PersonAccreditationSyncView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonAccreditationSyncView","$ref":"#/definitions/PersonAccreditationSyncView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonAccreditationSyncView","$ref":"#/definitions/PersonAccreditationSyncView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonAccreditationSyncView","$ref":"#/definitions/PersonAccreditationSyncView"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/accreditation/events/{eventId}/sync/person/{personId}/status":{"get":null,"head":null,"post":{"tags":["Accreditation Sync"],"summary":"Update status of accreditation - PRINTED, DISTRIBUTED, REVOKED","description":"The statuses are intended to carry following meanings\n\t1. PRINTED - Badge has been printed\n\t2. DEPT_DISTRIBUTED - Badge has been distributed to concerned department\n\t3. DISTRIBUTED - Badge has been handed over to the person\n\t4. REVOKED - Person's accreditation has been deleted and he no longer have any access to the event.NOTE: This SHOULD NOT BE USED to INVALIDATE a badge.","operationId":"syncAccreditationStatus","schemes":null,"consumes":null,"produces":["application/json"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"personId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"AccreditationStatusUpdateView","$ref":"#/definitions/AccreditationStatusUpdateView"},"x-examples":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonAccreditationSyncView","$ref":"#/definitions/PersonAccreditationSyncView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonAccreditationSyncView","$ref":"#/definitions/PersonAccreditationSyncView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PersonAccreditationSyncView","$ref":"#/definitions/PersonAccreditationSyncView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PersonAccreditationSyncView","$ref":"#/definitions/PersonAccreditationSyncView"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/accreditation/events/{eventId}/zones":{"get":{"tags":["Accreditation Zones"],"summary":null,"description":null,"operationId":"getZones","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"ZoneExtendedListView","$ref":"#/definitions/ZoneExtendedListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"ZoneExtendedListView","$ref":"#/definitions/ZoneExtendedListView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":{},"responseSchema":{"originalRef":"ZoneExtendedListView","$ref":"#/definitions/ZoneExtendedListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"ZoneExtendedListView","$ref":"#/definitions/ZoneExtendedListView"}}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":{"tags":["Accreditation Zones"],"summary":"Create a new zone","description":"","operationId":"createZone","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"ZoneView","$ref":"#/definitions/ZoneView"},"x-examples":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"ZoneView","$ref":"#/definitions/ZoneView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"ZoneView","$ref":"#/definitions/ZoneView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"ZoneView","$ref":"#/definitions/ZoneView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"ZoneView","$ref":"#/definitions/ZoneView"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/accreditation/events/{eventId}/zones/sort":{"get":null,"head":null,"post":null,"put":{"tags":["Accreditation Zones"],"summary":"Update the sort order of zones","description":"","operationId":"updateZonesSort","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"ZoneListView","$ref":"#/definitions/ZoneListView"},"x-examples":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"ZoneListView","$ref":"#/definitions/ZoneListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"ZoneListView","$ref":"#/definitions/ZoneListView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"ZoneListView","$ref":"#/definitions/ZoneListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"ZoneListView","$ref":"#/definitions/ZoneListView"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"delete":null,"options":null,"patch":null,"parameters":null},"/accreditation/events/{eventId}/zones/{id}":{"get":{"tags":["Accreditation Zones"],"summary":"Get a zone by ID","description":"","operationId":"getZone","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"ZoneView","$ref":"#/definitions/ZoneView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"ZoneView","$ref":"#/definitions/ZoneView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"ZoneView","$ref":"#/definitions/ZoneView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"ZoneView","$ref":"#/definitions/ZoneView"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":{"tags":["Accreditation Zones"],"summary":"Update a zone","description":"","operationId":"updateZone","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"ZoneView","$ref":"#/definitions/ZoneView"},"x-examples":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"ZoneView","$ref":"#/definitions/ZoneView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"ZoneView","$ref":"#/definitions/ZoneView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"ZoneView","$ref":"#/definitions/ZoneView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"ZoneView","$ref":"#/definitions/ZoneView"}}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"delete":{"tags":["Accreditation Zones"],"summary":"Delete a zone","description":"","operationId":"deleteZone","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"eventId","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":[{"oauth2":[]}],"externalDocs":null,"deprecated":null},"options":null,"patch":null,"parameters":null},"/integration/events/{event_id}/groups/{group_id}/payment_data":{"get":null,"head":null,"post":{"tags":["Integrations"],"summary":"Send data about payment made for packages in an external system","description":"","operationId":"addPaymentData","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"event_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"group_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"PaymentDataView","$ref":"#/definitions/PaymentDataView"},"x-examples":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PaymentDataView","$ref":"#/definitions/PaymentDataView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PaymentDataView","$ref":"#/definitions/PaymentDataView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"PaymentDataView","$ref":"#/definitions/PaymentDataView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"PaymentDataView","$ref":"#/definitions/PaymentDataView"}}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/integration/events/{event_id}/push_failed":{"get":{"tags":["Integrations"],"summary":null,"description":null,"operationId":"pushFailedRequests","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"event_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"since","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"date-time","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/integration/events/{event_id}/push_reg":{"get":{"tags":["Integrations"],"summary":null,"description":null,"operationId":"pushRegistrations","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"event_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/manage/events/{event_id}/groups/{group_id}/host_info/registered_people/{reg_person_id}/status":{"get":null,"head":null,"post":{"tags":["Manage Groups"],"summary":"Set the status of the personal/security information for a registered person","description":"","operationId":"setHostInfoStatus","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"event_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"group_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"reg_person_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":true,"pattern":null,"readOnly":null,"schema":{"originalRef":"HostInfoStatusUpdateView","$ref":"#/definitions/HostInfoStatusUpdateView"},"x-examples":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"RegGroupEventPersonHostInfoView","$ref":"#/definitions/RegGroupEventPersonHostInfoView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"RegGroupEventPersonHostInfoView","$ref":"#/definitions/RegGroupEventPersonHostInfoView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"RegGroupEventPersonHostInfoView","$ref":"#/definitions/RegGroupEventPersonHostInfoView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"RegGroupEventPersonHostInfoView","$ref":"#/definitions/RegGroupEventPersonHostInfoView"}}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/manage/events/{event_id}/images/groups/{group_id}/registered_people/{reg_group_event_person_id}/team_photo":{"get":null,"head":null,"post":{"tags":["Images"],"summary":"Upload a team photo for a registered person","description":"","operationId":"uploadTeamPhoto","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"event_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"group_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"reg_group_event_person_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":true,"pattern":null,"readOnly":null,"schema":{"originalRef":"ImageView","$ref":"#/definitions/ImageView"},"x-examples":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"ImageView","$ref":"#/definitions/ImageView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"ImageView","$ref":"#/definitions/ImageView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"ImageView","$ref":"#/definitions/ImageView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"ImageView","$ref":"#/definitions/ImageView"}}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/register/events/{event_id}/groups":{"get":{"tags":["Registration Groups"],"summary":"Get groups by type","description":"","operationId":"getGroups","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"event_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"RegistrationGroupListView","$ref":"#/definitions/RegistrationGroupListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"RegistrationGroupListView","$ref":"#/definitions/RegistrationGroupListView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"RegistrationGroupListView","$ref":"#/definitions/RegistrationGroupListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"RegistrationGroupListView","$ref":"#/definitions/RegistrationGroupListView"}}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/register/events/{event_id}/groups/ad_hoc":{"get":null,"head":null,"post":{"tags":["Registration Groups"],"summary":null,"description":null,"operationId":"createRegGroupForAdHoc","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"event_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"AdHocGroupCreateView","$ref":"#/definitions/AdHocGroupCreateView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/register/events/{event_id}/groups/ad_hoc/person/{person_id}":{"get":{"tags":["Registration Groups"],"summary":null,"description":null,"operationId":"getRegGroupForAdHoc","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"event_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"person_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/register/events/{event_id}/groups/all":{"get":{"tags":["Registration Groups"],"summary":"Get all groups","description":"","operationId":"getAllGroups","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"event_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"group_type","in":"query","description":null,"required":false,"type":"array","items":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":["MEMBER","GUEST_MEMBER","AD_HOC","ORGANIZATION"],"default":null},"collectionFormat":"multi","default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"group_id","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"group_code","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"member_id","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"member_name","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"organization_id","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"group_name","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"contact_organization","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"contact_full_name","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"contact_first_name","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"contact_last_name","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"contact_email","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"order_by","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":["GROUP_ID","GROUP_TYPE","DATE_CREATED","ORGANIZATION_NAME","CONTACT_FIRST_NAME","CONTACT_LAST_NAME","CONTACT_EMAIL"]},{"name":"order","in":"query","description":null,"required":false,"type":"string","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":["ASC","DESC"]},{"name":"offset","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":0,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"limit","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":30,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"RegistrationGroupListView","$ref":"#/definitions/RegistrationGroupListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"RegistrationGroupListView","$ref":"#/definitions/RegistrationGroupListView"}}},"responsesObject":{"200":{"description":"successful operation","examples":null,"headers":null,"responseSchema":{"originalRef":"RegistrationGroupListView","$ref":"#/definitions/RegistrationGroupListView"},"schema":{"format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"originalRef":"RegistrationGroupListView","$ref":"#/definitions/RegistrationGroupListView"}}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/register/events/{event_id}/groups/members/{member_id}":{"get":{"tags":["Registration Groups"],"summary":null,"description":null,"operationId":"getRegGroupForMember","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"event_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"member_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/register/events/{event_id}/groups/organization":{"get":null,"head":null,"post":{"tags":["Registration Groups"],"summary":null,"description":null,"operationId":"createRegGroupForOrganization","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"event_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"OrgGroupCreateView","$ref":"#/definitions/OrgGroupCreateView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/register/events/{event_id}/groups/{group_id}":{"get":{"tags":["Registration Groups"],"summary":null,"description":null,"operationId":"getGroup","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"event_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"group_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/register/events/{event_id}/groups/{group_id}/contact":{"get":null,"head":null,"post":null,"put":{"tags":["Registration Groups"],"summary":null,"description":null,"operationId":"updateGroupContact","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"group_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"RegistrationGroupContactView","$ref":"#/definitions/RegistrationGroupContactView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"delete":null,"options":null,"patch":null,"parameters":null},"/register/events/{event_id}/groups/{group_id}/internal/non_placeholder":{"get":null,"head":null,"post":{"tags":["Register Person"],"summary":null,"description":null,"operationId":"registerNonPlaceholderPerson","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"event_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"group_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"RegPersonAndPositionCreateView","$ref":"#/definitions/RegPersonAndPositionCreateView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/register/events/{event_id}/groups/{group_id}/internal/people":{"get":null,"head":null,"post":{"tags":["Register Person"],"summary":null,"description":null,"operationId":"createPerson","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"event_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"group_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"CreatePersonView","$ref":"#/definitions/CreatePersonView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/register/events/{event_id}/groups/{group_id}/internal/registered_people":{"get":null,"head":null,"post":{"tags":["Register Person"],"summary":null,"description":null,"operationId":"registerPersonPosition","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"event_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"group_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"RegistrationGroupEventPersonCreateView","$ref":"#/definitions/RegistrationGroupEventPersonCreateView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/register/events/{event_id}/groups/{group_id}/internal/registered_people/pending/{pr_id}":{"get":null,"head":null,"post":null,"put":null,"delete":{"tags":["Register Person"],"summary":null,"description":null,"operationId":"removePendingRegistration","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"event_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"group_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"pr_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"options":null,"patch":null,"parameters":null},"/register/events/{event_id}/groups/{group_id}/internal/registered_people/{reg_group_event_person_id}":{"get":{"tags":["Register Person"],"summary":null,"description":null,"operationId":"getRegisteredGroupPerson","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"event_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"group_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"reg_group_event_person_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":{"tags":["Register Person"],"summary":null,"description":null,"operationId":"removePersonPosition","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"event_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"group_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"reg_group_event_person_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"options":null,"patch":null,"parameters":null},"/register/events/{event_id}/groups/{group_id}/internal/registered_people/{rge_person_id}/custom_data":{"get":null,"head":null,"post":null,"put":{"tags":["Register Person"],"summary":null,"description":null,"operationId":"updatePersonPositionCustomData","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"event_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"group_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"rge_person_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"RegistrationGroupEventPersonUpdateView","$ref":"#/definitions/RegistrationGroupEventPersonUpdateView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"delete":null,"options":null,"patch":null,"parameters":null},"/register/events/{event_id}/groups/{group_id}/invoice_address":{"get":{"tags":["Registration Groups"],"summary":null,"description":null,"operationId":"getInvoiceAddress","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"group_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":{"tags":["Registration Groups"],"summary":null,"description":null,"operationId":"updateInvoiceAddress","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"group_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"InvoiceAddressView","$ref":"#/definitions/InvoiceAddressView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"delete":null,"options":null,"patch":null,"parameters":null},"/register/events/{event_id}/groups/{group_id}/payment_link":{"get":{"tags":["Registration Groups"],"summary":null,"description":null,"operationId":"getPaymentLink","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"event_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"group_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/register/events/{event_id}/groups/{group_id}/positions":{"get":{"tags":["Register Positions"],"summary":null,"description":null,"operationId":"getRegistrationGroupEventPositions","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"event_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"group_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"position","in":"query","description":null,"required":false,"type":"array","items":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"collectionFormat":"multi","default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"base_position","in":"query","description":null,"required":false,"type":"array","items":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"collectionFormat":"multi","default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"offset","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":0,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"limit","in":"query","description":null,"required":false,"type":"integer","items":null,"collectionFormat":null,"default":30,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":{"tags":["Register Positions"],"summary":null,"description":null,"operationId":"registerRegistrationGroupEventPosition","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"event_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"group_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"RegistrationGroupEventPositionCreateView","$ref":"#/definitions/RegistrationGroupEventPositionCreateView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/register/events/{event_id}/groups/{group_id}/positions/bookings":{"get":{"tags":["Register Positions"],"summary":null,"description":null,"operationId":"getRegistrationGroupEventPositionBookings","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"event_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"group_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/register/events/{event_id}/groups/{group_id}/positions/list":{"get":{"tags":["Register Positions"],"summary":null,"description":null,"operationId":"getPositionList","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"event_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"group_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"codes","in":"query","description":null,"required":false,"type":"array","items":{"type":"string","format":null,"example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minLength":null,"maxLength":null,"pattern":null,"enum":null,"default":null},"collectionFormat":"multi","default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/register/events/{event_id}/groups/{group_id}/positions/teams":{"get":null,"head":null,"post":{"tags":["Register Positions"],"summary":null,"description":null,"operationId":"registerMemberPositionTeam","schemes":null,"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"event_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"group_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"in":"body","name":"body","description":null,"required":false,"pattern":null,"readOnly":null,"schema":{"originalRef":"RegistrationGroupEventPositionCreateView","$ref":"#/definitions/RegistrationGroupEventPositionCreateView"},"x-examples":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/register/events/{event_id}/groups/{group_id}/positions/teams/{team_id}":{"get":null,"head":null,"post":null,"put":null,"delete":{"tags":["Register Positions"],"summary":null,"description":null,"operationId":"removeRegisteredMemberPositionTeam","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"event_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"group_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"team_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"options":null,"patch":null,"parameters":null},"/register/events/{event_id}/groups/{group_id}/positions/{reg_group_event_pos_id}":{"get":null,"head":null,"post":null,"put":null,"delete":{"tags":["Register Positions"],"summary":null,"description":null,"operationId":"removeRegisteredGroupEventPosition","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"event_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"group_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"reg_group_event_pos_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"options":null,"patch":null,"parameters":null},"/register/events/{event_id}/groups/{group_id}/status":{"get":{"tags":["Registration Status"],"summary":"Get the registration status for the event and group","description":"","operationId":"getStatus","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"event_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"group_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"reg_pos","in":"query","description":null,"required":false,"type":"array","items":{"type":"integer","format":"int32","example":null,"xml":null,"position":null,"description":null,"title":null,"readOnly":null,"allowEmptyValue":null,"minimum":null,"maximum":null,"multipleOf":null,"exclusiveMinimum":null,"exclusiveMaximum":null,"enum":null,"default":null},"collectionFormat":"multi","default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null},{"name":"show_hidden_position","in":"query","description":null,"required":false,"type":"boolean","items":null,"collectionFormat":null,"default":false,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":null,"allowEmptyValue":null,"x-example":null,"enum":null}],"responses":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"responsesObject":{"default":{"description":"successful operation","examples":null,"headers":null,"responseSchema":null,"schema":null}},"security":null,"externalDocs":null,"deprecated":null},"head":null,"post":null,"put":null,"delete":null,"options":null,"patch":null,"parameters":null},"/register/events/{event_id}/groups/{group_id}/status/event_positions":{"get":{"tags":["Registration Status"],"summary":null,"description":null,"operationId":"getEventPositionsStatus","schemes":null,"consumes":null,"produces":["application/json","application/xml"],"parameters":[{"name":"event_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"group_id","in":"path","description":null,"required":true,"type":"integer","items":null,"collectionFormat":null,"default":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"multipleOf":null,"readOnly":null,"format":"int32","allowEmptyValue":null,"x-example":null,"enum":null},{"name":"reg_pos","in":"query","description":null,"required":false,"type":"array","items":{"type":"integer","format":"int32","example":null,"xml":null,"positio
[...]
